* {
    margin: 0;
    padding: 0;
}

div:first-child {
    margin-top: 5px;
}

.name {
    width: 800px;
    height: 550px;
    background: url(sert01.jpg) center / 800px 550px no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    /* стили текста */
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: bold;
}

span {
    /*  позиционирование текста напрямую */
    position: relative; 
    top: 14px;
}